{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="QR Partners, QR Services, Qr">
    <meta name="keywords" content="QR Partners, QR Services, Qr">
    <meta name="author" content="QR">
    <title>QR Code Generator</title>
    <link rel="apple-touch-icon" href="{% static 'image/qr.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/qr.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
        rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/themes/bordered-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/css/core/menu/menu-types/vertical-menu.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: JSON-->
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/data/locales/en.json' %}">
    <!-- END: JSON-->

    <!--BEGIN: TABLE-->
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/tables/datatable/buttons.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appassets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
    <!-- END: Vendor CSS-->
    <!--END: TABLE-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->

{% block styles %}{% endblock styles %}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static   menu-collapsed" data-open="click"
    data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
        <div class="navbar-container d-flex content">
            <div class="bookmark-wrapper d-flex align-items-center">
                <ul class="nav navbar-nav d-xl-none">
                    <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon"
                                data-feather="menu"></i></a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav align-items-center ms-auto">
                <!-- <li class="nav-item dropdown dropdown-language"><a class="nav-link dropdown-toggle" id="dropdown-flag"
                        href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="flag-icon flag-icon-us"></i><span class="selected-language">English</span></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-flag"><a
                            class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i>
                             English</a><a class="dropdown-item" href="#" data-language="fr"><i
                                class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"
                            data-language="de"><i class="flag-icon flag-icon-de"></i> German</a><a class="dropdown-item"
                            href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></div>
                </li> -->
                {% comment %} <li class="nav-item d-lg-block"><a class="nav-link nav-link-style"><i class="ficon"
                            data-feather="moon"></i></a></li> {% endcomment %}

                
                <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link"
                        id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="user-nav d-sm-flex d-none"><span
                                class="user-name fw-bolder">{{username}}</span>
                        </div><span class="avatar"><img class="round"
                                src="{% static 'appassets/images/portrait/small/default-avatar.png' %}" alt="avatar"
                                height="40" width="40"><span class="avatar-status-online"></span></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user"><!--<a
                            class="dropdown-item" href="#"><i class="me-50" data-feather="user"></i>
                            Profile</a>--><a
                            class="dropdown-item" href="/logout/"><i class="me-50" data-feather="power"></i>
                            Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="main-search-list-defaultlist d-none">
        <li class="d-flex align-items-center"><a href="#">
                <h6 class="section-label mt-75 mb-0">Files</h6>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
                href="#">
                <div class="d-flex">
                    <div class="me-75"><img src="{% static 'appassets/images/icons/xls.png' %}" alt="png" height="32">
                    </div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing
                            Manager</small>
                    </div>
                </div><small class="search-data-size me-50 text-muted">&apos;17kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
                href="#">
                <div class="d-flex">
                    <div class="me-75"><img src="{% static 'appassets/images/icons/jpg.png' %}" alt="png" height="32">
                    </div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd
                            Developer</small>
                    </div>
                </div><small class="search-data-size me-50 text-muted">&apos;11kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
                href="#">
                <div class="d-flex">
                    <div class="me-75"><img src="{% static 'appassets/images/icons/pdf.png' %}" alt="png" height="32">
                    </div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital
                            Marketing Manager</small>
                    </div>
                </div><small class="search-data-size me-50 text-muted">&apos;150kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100"
                href="#">
                <div class="d-flex">
                    <div class="me-75"><img src="{% static 'appassets/images/icons/doc.png' %}" alt="png" height="32">
                    </div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web
                            Designer</small>
                    </div>
                </div><small class="search-data-size me-50 text-muted">&apos;256kb</small>
            </a></li>
        <li class="d-flex align-items-center"><a href="#">
                <h6 class="section-label mt-75 mb-0">Members</h6>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
                href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar me-75"><img src="{% static 'appassets/images/portrait/small/avatar-s-8.jpg' %}"
                            alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">{{username}}</p><small class="text-muted">UI designer</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
                href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar me-75"><img src="{% static 'appassets/images/portrait/small/avatar-s-1.jpg' %}"
                            alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd
                            Developer</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
                href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar me-75"><img src="{% static 'appassets/images/portrait/small/avatar-s-14.jpg' %}"
                            alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing
                            Manager</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100"
                href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar me-75"><img src="{% static 'appassets/images/portrait/small/avatar-s-6.jpg' %}"
                            alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                    </div>
                </div>
            </a></li>
    </ul>
    <ul class="main-search-list-defaultlist-other-list d-none">
        <li class="auto-suggestion justify-content-between"><a
                class="d-flex align-items-center justify-content-between w-100 py-50">
                <div class="d-flex justify-content-start"><span class="me-75"
                        data-feather="alert-circle"></span><span>No results found.</span></div>
            </a></li>
    </ul>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto"><a class="navbar-brand"
                        href="#" target="_blank"><span class="brand-logo">
                            <img src={% static 'image/qr.png' %} alt="logo" >
                        </span>
                        <h2 class="brand-text">QR CodeGEN</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i
                            class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
                            class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary"
                            data-feather="disc" data-ticon="disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a class="d-flex align-items-center" href="/QrPage/"><i
                            data-feather="user"></i><span class="menu-title text-truncate"
                            data-i18n="Dashboards">QR Code</span></a>
                </li>
                <!--Apps &amp; Pages-->
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    {% block contents %}{% endblock contents %}
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'appassets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'appassets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'appassets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Custom js-->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <!-- END: Custom js-->

    <!--BEGIN: TABLE-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'appassets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/jszip.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/tables/datatable/dataTables.rowGroup.min.js' %}"></script>
    <script src="{% static 'appassets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="{% static 'appassets/js/scripts/tables/table-datatables-basic.js' %}"></script>
    <!-- END: Page JS-->
    <!--END: TABLE-->

    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
{% block js %}{% endblock js %}
</body>
<!-- END: Body-->

</html>